---
import { SITE } from "../config";
const navItems = [
	{
		title: 'Lenguaje',
		description: 'Acerca de yupanasimi',
		url: '/yupanasimi/introduction',
		img: 'https://yupanasimi.org/imagen/305.jpg'
	},
	{
		title: 'Audio',
		description: 'Cómo crear audio con yupanasimi',
		url: '/audio/buttons',
		img: 'https://yupanasimi.org/imagen/213.jpg'
	},
	{
		title: 'Video',
		description: 'Cómo crear video con yupanasimi',
		url: '/video/introduction',
		img: 'https://yupanasimi.org/imagen/113.jpg'
	}
]

---



<div class=" min-h-screen text-center">
	<header class="pt-12 pb-24 px-4 bg-[url('https://yupanasimi.org/imagen/302.jpg')] from-slate-700 to-black">
		<div class="flex items-center justify-center p-4">
			
		</div>
		<h1 class=" text-white text-4xl font-medium drop-shadow-sm">{SITE.title}</h1>
		<p class="text-lg mt-4 text-slate-300">{SITE.description}</p>
	</header>
	<nav>
		<ul class="flex gap-4 max-w-5xl mx-auto text-left mt-12">
		{
			navItems.map(({ title, description, url, img }) => (
				<a href={url} class="flex flex-col bg-white rounded-md hover:-translate-y-1 hover:shadow-lg transition-all flex-1 items-center p-4">
					<img src={img} alt={title}>
					<h2 class="text-lg font-medium">{title}</h2>
					<p class="text-slate-500">{description}</p>
				</a>
			))
		}
		</ul>
	</nav>
</div>

<script is:inline>
</script>
